@page
@model FirelyClient.Pages.PatientModel
@{
    ViewData["Title"] = "Patient!";
}

<h2>@{ @Model.Patient} conditions</h2>
@{
    if (Model.Conditions.Count == 0)
    {
        <p>No recorded conditions.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var condition in Model.Conditions)
            {
            <li>@condition</li>
            }
        </ul>
    }
}