@page
@model FirelyClient.Pages.PatientModel
@{
    ViewData["Title"] = "Patient!";
}

<h2>@{ @Model.Patient}</h2>

<table>
    <tr style="vertical-align: top; padding-left:10px">
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Conditions", items = Model.Conditions })
        </td>
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Observations", items = Model.Observations })
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Medications", items = Model.Medications })
        </td>
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Encounters", items = Model.Encounters })
        </td>
    </tr>
</table>

<!-- Edit/Delete buttons-->
<a class="btn btn-primary" href="/Patients/Edit?id=@Model.Id" role="button">Edit</a>
<button type="button" class="btn btn-danger"
       data-toggle="modal" data-target="#confirmDelete">Delete</button>
<p>
    <br />
    <button class="btn btn-link" onclick="history.go(-1)">Go Back</button>
</p>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this patient?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger"
                               data-toggle="modal" data-target="#confirmDelete" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
