@page
@model FirelyClient.Pages.PatientModel
@{
    ViewData["Title"] = "Patient!";
}

<h2>@{ @Model.Patient}</h2>

<div><a href="/Patients/Edit?id=@Model.id">Edit</a></div>

<table>
    <tr style="vertical-align: top; padding-left:10px">
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Conditions", items = Model.Conditions })
        </td>
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Observations", items = Model.Observations })
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Medications", items = Model.Medications })
        </td>
        <td style="padding-left:10px">
            @await Component.InvokeAsync("ItemList", new { itemName = "Encounters", items = Model.Encounters })
        </td>
    </tr>
</table>