@model FirelyClient.Pages.Shared.ViewComponents.Item

<h3>@Model.ItemName</h3>
@if (Model.Items.Count > 0)
{

    @foreach (var item in Model.Items)
    {
        <p>@Html.Raw(item)</p>
    }

}
else
{
    <p>No recorded @Model.ItemName</p>
}
